# Node.js & Dependencies
node_modules/
.pnp
.pnp.js
dist/
coverage/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.iml
.idea/
.vscode/
mobile/build/
mobile/android/.gradle/
mobile/android/local.properties
mobile/ios/Pods/
mobile/ios/.symlinks/

# Environment & Secrets
.env
.env.local
.env.*.local

# Logs & OS
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem
Thumbs.db
