# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
.idea/
.vscode/

# Android
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/**/generated
android/**/build

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/.symlinks/

# Secrets & Service Accounts
*firebase-adminsdk*.json
*-adminsdk-*.json
*service-account*.json
